/*--- HEADER REGION ---*/
.header-main {
    height: 5%;
    width: auto;
    background-color: rgba(28, 28, 28, 0.7);
}

.header-icon {
    width: 80px;
    height: 65%;
    object-fit: cover;
    margin: 5px 0 0 20px;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
}

.header-icon:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.20);
    transition-duration: 0.4s;
}

.header-language {
    float: right;
    width: 110px;
    margin: 8px 15px 0 0;
}

.language-text {
    font-family: Verdana;
    cursor: default;
    font-size: 10px;
    color: rgba(239, 239, 239, 0.99);
    float: left;
    width: 80%;
    padding-top: 5px;
    margin: 0 auto;
    display: none;
}

.language-NL,
.language-FR {
    margin-right: 15%;
}

.language-text a:hover,  .contact-text a:hover {
    color: red;
}

.header-language-icon {
    background-image: url(../images/ic_language_white_48px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    float: right;
    border-radius: 10px;
}

.header-language-icon:hover {
    cursor: pointer;
    box-shadow: 0 0 4px white;
    transition-duration: 0.3s;
}

/*--- SIDEBAR+CONTENT REGION ---*/
.main-page {
    height: 92%;
    color: #464646;
    background-color: rgba(239, 239, 239, 0.6);
}

/*--- SIDEBAR REGION ---*/
.main-sidebar {
    float: left;
    height: 100%;
    width: 120px;
    background-color: rgba(28, 28, 28, 0.7);
    /*    background: linear-gradient(to bottom right,#717171,rgba(157, 157, 157, 0.73));*/
    overflow-y: scroll;
}

.sidebar-item {
    height: 15px;
    padding: 8px 0 8px 10px;
    color: ghostwhite;
    font-family: Verdana;
    font-size: 13px;
}

.sidebar-item.active {
    padding: 8px 0 8px 12px;
    background-color: rgb(132, 132, 132);
    color: whitesmoke;
}

.sidebar-submenu {
    display: none;
    font-family: Verdana;
    font-size: 12px;
}

.sidebar-subitem {
    height: 15px;
    padding: 8px 0 8px 20px;
    color: ghostwhite;
}

.sidebar-subitem.active {
    background-color: rgb(132, 132, 132);
    color: whitesmoke;
}

.sidebar-item:hover {
    padding: 8px 0 8px 12px;
    background-color: rgb(132, 132, 132);
    cursor: pointer;
    transition-duration: 0.2s;
    color: whitesmoke;
}

.sidebar-subitem:hover {
    background-color: rgb(132, 132, 132);
    cursor: pointer;
    transition-duration: 0.2s;
    color: whitesmoke;
}

.sidebar-section {
    width: 100%;
    height: 100%;
}

.sidebar-section-icon {
    background-image: url(../images/ic_keyboard_arrow_left_black_48px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    width: 15px;
    margin: 0 5px 0 0;
    float: right;
}

.sidebar-section-text {
    width: 60px;
    float: left;
}

/*--- CONTENT REGION ---*/
.main-content {
    font-family: Verdana;
    overflow-y: scroll;
    height: 97%;
    width: auto;
    padding: 20px 20px 0 20px;
}

/*--- FOOTER REGION ---*/
.main-footer {
    font-family: sans-serif;
    font-size: 10px;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #848484;
    color: white;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    position: relative;
}
