body {
    font-family: 'Oswald', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 80px;
    min-height: 75%;
}

/*--- HEADER REGION ---*/
.header-main {
    position: fixed;
    display: flex;
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/banner_studying.png);
    background-size: cover;
    background-repeat: no-repeat;
    
/*    background-color: rgba(28, 28, 28, 0.7);*/
}

.header-text_icon {
    display: flex;
    width: 25%;
    height: 100%;
}

.header-icon {
    width: 80px;
    height: 65%;
    object-fit: cover;
    margin: 10px 0 0 20px;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
}

.header-text {
    color: white;
    font-size: 11px;
    margin: auto 0 auto 10;
}

.header-icon:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.20);
    transition-duration: 0.4s;
}

.header-nav {
    color: white;
    display: flex;
    width: 55%;
    margin: auto 0;
}

.header-item {
    width: 14%;
    text-align: center;
    margin: auto;
    padding: 10px 0;
    border-radius: 2px;
    transition: 0.2s;
}

.header-item.active {
    background-color: white;
    color: black;
}

.header-item:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: default;
}

.header-language {
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.language-NL {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.language-FR,
.language-EN {
    margin-right: 10px;
    text-decoration: none;
    color: rgba(180, 180, 180, 0.99);
}

.header-language a:hover {
    color: white;
}

/*--- CONTENT REGION ---*/
.main-content {
    width: 80%;
    margin: 90px auto 0;
    padding: 0 50px;
}

/*--- FOOTER REGION ---*/
.main-footer {
    font-size: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 39, 41, 0.9);
}

.footer-blok {
    
}

.footer-title {
    color: #bbc0c5;
}

.footer-text {
    color: #848d95;
}